@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* utilities classes */

.container {
    max-width: 1321px;
    margin: 50px auto;
}

.button {
    display: inline-block;
    padding: 16px 25px;
    border-radius: 5px;
    background-color: #575fcf;
    color: white;
}

.w-50 {
    width: 50%;
}

#active{
    background-color: #575fcf;
    color: #fff;
}

/* banner */

.banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 100px;
    background-color: #161616;
    color: white;
    border-radius: 30px;
}

.banner-text{
    padding: 50px 0;
}

.banner-text h1 {
	font-size: 5vw;
	line-height: 5.8vw;
    margin-bottom: 25px;
}

.banner-text p {
    margin: 20px 0 25px;
    font-size: 1.32vw;
}

.banner-image {
    padding: 35px 0 0;
    display: flex;
}

.banner-image img {
    width: 100%;
}

.banner-btn i {
    margin-left: 10px;
}

/* blogs section */

.blogs-section {
    display: grid;
    grid-template-columns: 312px 1fr;
    grid-gap: 24px;
    padding-bottom: 75px;
}

.blogs-section aside {
    background: #161616;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 30px;
    height: fit-content;
    padding: 30px;
}

aside a {
    text-align: center;
    font-weight: 500;
    font-size: 1.1em;
}

.sidebar-btn {
    display: block;
    width: 100%;
    background-color: #fff;
    color: #000;
}

.blogs {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 24px;
}

.blog {
    border: 1px solid #E8E8E8;
    border-radius: 10px;
}

.blog-thumbnail {
    width: 100%;
}

.blog-body {
    padding: 15px 20px;
}

.transfer-btn {
    display: inline-block;
    padding: 4px 16px;
    border: 1px solid #161616;
    border-radius: 5px;
    color: #000;
    font-weight: 500;
}

.blog-title {
    margin: 15px 0 15px;
}

.blog-footer span {
    margin-right: 30px;
    color: #161616c0;
    ;
}

.blog-footer span>i {
    margin-right: 10px;
}

/* footer */

footer {
    text-align: center;
    background-color: #161616;
    color: #fff;
}

.footer-container {
    margin-bottom: 0;
    padding: 130px 0 100px;
}

footer .nav-links {
    display: flex;
    gap: 4em;
    justify-content: center;
    flex-wrap: wrap;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    margin: 50px 0;
    padding-top: 50px;
}

footer .nav-links li a {
    color: #B9B9B9;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 2em;
}

.social-icons li a {
    color: #fff;
    background-color: #81818122;
    height: 32px;
    width: 32px;
    padding: 10px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* upcoming match section */

.match {
    border: 1px solid #E8E8E8;
    border-radius: 10px;
    padding: 50px 30px;
    text-align: center;
    height: fit-content;
}

.flag {
    display: flex;
    align-items: center;
}

.match-title {
    margin: 20px 0 10px;
    font-size: 20px;
}


/* media query */

@media only screen and (max-width:1430px) {
    .container {
        margin: 50px
    }
}


@media only screen and (max-width:1200px) {
    .blogs {
        grid-template-columns: repeat(2, 1fr);
    }
    footer .nav-links {
        gap: 2em;
    }
} 

/* tablet */

@media only screen and (max-width:1000px) {
    .blogs-section {
        grid-template-columns: unset;
    }

    .blogs {
        grid-template-columns: repeat(2, 1fr);
    }

    .blogs-section aside {
        flex-direction: row;
        background: transparent;
        padding: 30px 0;
    }

    .sidebar-btn {
        background: transparent;
        color: #000;
        border: 1px solid #E8E8E8;
        border-radius: 10px;
    }
}

/* mobile */

@media only screen and (max-width:576px) {
    .container{
        margin: 20px;
    }
    .w-50{
        width: 80%;
    }
    .banner {
        flex-direction: column;
        padding: 28px 0 0;
        text-align: center;
    }
    .blogs {
        grid-template-columns: repeat(1, 1fr);
    }
}